body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    width: 100vw;
    height: 100vh;
}


.header {
    text-align: center;
    background-color: rgb(12, 12, 12);
    color: white;
    font-family: monospace;
    font-size: 2rem;
    padding: 10px 10px;

}

.app-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* flex-grow: 1; */
    /* flex-basis: 0; */
}

.problem-container,
.editor-container {
    margin: 20px 20px;
    flex-grow: 1;
    /* display: flex; */
}